/* --------------------------------------------------------------------------- */
        /* Police raleway */

@font-face {
    font-family: "raleway";
    src: url(polices/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: "raleway light";
    src: url(polices/Raleway-Regular.ttf);
}


/* --------------------------------------------------------------------------- */
        /* Body : Corp du document */

body {
    font-family: "raleway light";
}

#bloc_page { /* 1400 marges auto */
    width: 1400px;
    margin: auto;
}


/* --------------------------------------------------------------------------- */
        /* Header et Nav */

header {
    align-items: flex-end; /* Les éléments s'alignent au bas du conteneur */
}

#bloc_header {
    display: flex;
    justify-content: space-between; /* Les éléments s'affichent avec un espace égal entre eux */
}

header img {
    display: flex;
    flex-direction: row; /* Les éléments sont disposés dans la même direction que le texte */
    align-items: baseline; /* Base du conteneur */
}

nav ul {
    display: flex;
    list-style-type: none; /* Retire les puces */
}

nav li {
    margin: 25px;
}

nav a {
    font-size: 1em;
    color: #0065FC;
    padding: auto;
    padding: 30px;
    text-decoration: none; /* Retire la barre */
}

.h-a {
    color: black;
}

.s {
    font-weight: bold;
}

nav a:hover { /* Survol de la nav */
    border-top: 2px solid #0065FC;
    padding-top: 47px;
    text-decoration: none;
    color: #0065FC;
}


/* --------------------------------------------------------------------------- */
        /* Section recherche */
#bloc_section_recherche {
    display: flex;
    flex-direction: column;
}
section h1 {
    font-size: 1.4em;
}

#bloc_section_recherche p {
    margin-top: -8px;
}

#bouton_recherche {
    display: flex;
}

.map {
    border: 1px solid #F2F2F2;
    width: 20px; /* Largeur */
    height: 16px; /* Hauteur */
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px; /* coins arrondis */
    text-align: center; /* Logo centré */
    padding: 16px;
}

.marseille {
    font-family: "raleway light";
    height: 50px;
    width: 230px;
    font-weight: bold;
    font-size: 1.1em;
    padding-left: 10px;
    border: 1px solid #F2F2F2;
}

.bouton_recherche {
    font-family: "raleway light";
    border: 0px solid black;
    height: 50px;
    width: 150px;
    background-color: #0065FC;
    color: white;
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer; /* souris pointer */
}


/* --------------------------------------------------------------------------- */
        /* Section filtre */

#bloc_section_filtre {
    display: flex;
    flex-direction: row; /* Les éléments sont disposés dans la même direction que le texte */
    align-items: baseline; /* Base du conteneur */
}

#bloc_section_filtre ul {
    display: flex;
}

#bloc_section_filtre i {
    margin: 10px;
    padding: 13.5px;
    margin-left: -15px;
}

#bloc_section_filtre li {
    margin: 10px;
    list-style-type: none;
}

#bloc_section_filtre i{
    border: 0px solid black;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    background-color: #DEEBFF;
    color: #0065FC;
    padding-top: 15px;
}

#bloc_section_filtre a {
    font-family: "raleway light";
    font-size: 1.1em;
    font-weight: bold;
    color: black;
    border: 1px solid #F2F2F2;
    padding: 14px;
    text-decoration: none;
    border-radius: 30px;
}

#bloc_section_filtre a:hover {
    background-color: #DEEBFF;
}

#bloc_section_filtre .filtre {
    font-family: "raleway light";
    font-weight: bold;
    font-size: 1.1em;
}


/* --------------------------------------------------------------------------- */
        /* bloc 500 logements */
#logements {
    display: flex;
    align-items: baseline;
}

.searchResultWrapiconIcon {
    color: #0065FC;
    border: 2px solid #F2F2F2;
    padding: 10px;
    border-radius: 100%;
    font-size: 1em;
    height: 1em;
    width: 1em;
    text-align: center;
}

#logements p {
    margin-left: 10px;
}


/* --------------------------------------------------------------------------- */
        /* Section bloc gauche  */

.figure img { /* Taille images avec des coins arrondis */
    height: 130px;
    width: 230px;
    border-radius: 30px 30px 0px 0px;
    object-fit: cover;
}

.figure {
    border: 4px solid white;
    border-radius: 30px 30px;
    width: 230px;
    background-color: white;
}

.figcaption h3 {
    margin-top: 3px;
    margin-left: 10px;
    font-size: 1.2em;
}

.figcaption p {
    margin-left: 10px;
    margin-top: -15px;
    font-size: 1em;
}

.joker { /* Etoiles */
    font-size: 0.7em;
    margin-left: 10px;
    margin-top: -9px;
    margin-bottom: 7px;
}

.fa-star {
    color: #0065FC;
}

#A, #B, #C, #D, #E, #F, #G {
    color: #F2F2F2;
}

#marseille { /* flex gauche */
    display: flex;
    flex-wrap: wrap; /* éléments s'enveloppent sur plusieurs lignes au besoin */
}

.figure {
    margin: 15px;
}

#bloc_gauche { /* Fond bloc gauche */
    border: 1px solid #F2F2F2;
    border-radius: 30px 30px 30px 30px;
    width: 805px;
    background-color: #F2F2F2;
    padding: 20px;
}

.h2_1 {
    margin-left: 16px;
    font-size: 1.5em;
}

#h3_3 { /* Afficher plus */
    margin-left: 16px;
}

#bloc_gauche a {
    color: black;
    text-decoration: none;
}

#bloc_gauche a:hover {
    color: #0065FC;
}

section { /* flex section aside */
    display: flex;
}


/* --------------------------------------------------------------------------- */
        /* Section bloc droite aside */
aside { /* Ajout wight: 450px; si besion */
    border: 1px solid #F2F2F2;
    border-radius: 30px 30px 30px 30px;
    margin-left: 50px;
    background-color: #F2F2F2;
    padding-top: 30px;
}

aside a {
    text-decoration: none;
    color: black;
}

aside a:hover {
    color: #0065FC;
}

aside h2 {
    font-size: 1.5em;
    margin-left: 35px;
    margin-top: 15px;
}

#populaire { /* icon aside */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 45px;
}

.fa-chart-line {
    height: 25px;
}

aside .image { /* Images droite */
    height: 140px;
    width: 150px;
    border-radius: 30px 0px 0px 30px;
    object-fit: cover;
}

.droite { /* Bloc blanc aside */
    display: flex;
    align-items: center;
    width: 380px;
    margin: 30px;
    border: 4px solid white;
    border-radius: 30px 30px 30px 30px;
    background-color: white;
}

aside .h3_1 {
    margin: 8px;
    margin-left: 11px;
    margin-top: -5px;
}

aside p {
    margin-left: 11px;
}

aside .etoiles {
    margin-left: 11px;
    font-size: 0.7em;
    margin-top: 28px;
}

.zoom:hover { /* Zoom */
    transform: scale(1.05);
    transition: 1s;
}


/* --------------------------------------------------------------------------- */
        /* Section bloc bas */
#h2_bas {
    font-size: 1.em;
}

#bloc_bas { /* column avec les cartes */
    flex-direction: column;
    margin-top: 30px;
}

.h3_bas { /* Libellé */
    margin-left: 15px;
    font-size: 1em;
}

#section_bas a {
    color: black;
    text-decoration: none;
}

#section_bas a:hover { /* Survol de la carte */
    color: #0065FC;
}

figure:hover { /* Zoom au survol de la carte 1 seconde pour un zoom de 1.05 */ /* Plus rapide pour la prochaine fois */
    transform: scale(1.05);
    transition: 1s;
}

#section_bas { /* Les cartes en flex + space-between + marge droite */ /* flex-wrap ? */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 50px;
}

figure { /* Effet ombre gris de fond */
    margin: 0px;
    box-shadow: 3px 3px 10px #F2F2F2;
}

#figure1 { /* border titre et image */
    width: 300px;
    height: 450px;
    border: 0px solid black;
    border-radius: 30px 30px 30px 30px;
}

#image1 { /* Taille image, radius, cover */
    border: 0px solid red;
    border-radius: 30px 30px 30px 30px;
    object-fit: cover; /* définit la façon dont le contenu d'un élément - https://developer.mozilla.org/fr/docs/Web/CSS/object-fit */
    width: 300px;
    height: 390px;
}

#figure2 {
    height: 240px;
    width: 300px;
    margin-bottom: 50px;
    border: Opx solid black;
    border-radius: 30px 30px 30px 30px;
}

#image2 {
    border: 0px solid red;
    border-radius: 30px 30px 30px 30px;
    object-fit: cover;
    width: 300px;
    height: 180px;
}

#figure3 {
    height: 160px;
    width: 300px;
    border: 0px solid black;
    border-radius: 30px 30px 30px 30px;
}

#image3 {
    border: 0px solid red;
    border-radius: 30px 30px 30px 30px;
    object-fit: cover;
    width: 300px;
    height: 100px;
}

#figure4 {
    height: 450px;
    width: 300px;
    border: 0px solid black;
    border-radius: 30px 30px 30px 30px;
}

#image4 {
    border: 0px solid red;
    object-fit: cover;
    border-radius: 30px 30px 30px 30px;
    width: 300px;
    height: 390px;
}

#figure5 {
    height: 190px;
    width: 300px;
    margin-bottom: 50px;
    border: 0px solid black;
    border-radius: 30px 30px 30px 30px;
}

#image5 {
    border: 0px solid red;
    border-radius: 30px 30px 30px 30px;
    object-fit: cover;
    width: 300px;
    height: 130px;
}

#figure6 {
    height: 210px;
    width: 300px;
    border: 0px solid black;
    border-radius: 30px 30px 30px 30px;
}

#image6 {
    border: Opx solid red;
    border-radius: 30px 30px 30px 30px;
    object-fit: cover;
    width: 300px;
    height: 150px;
}


/* --------------------------------------------------------------------------- */
        /* Footer 3 listes */
footer {
    display: flex;
    background-color: #F2F2F2 ;
    margin-top: 60px;
    height: 200px;
}

.liste ul {
    margin-right: -80px;
    padding-right: 90px;
    margin-left: 250px;
}

.liste h4 {
    margin-left: 240px;
    font-size: 1.1em;
}

.liste li {
    list-style-type: none;
    margin-left: -50px;
    margin-bottom: 10px;
}

.liste a {
    color: black;
    text-decoration: none;
}

.liste a:hover {
    text-decoration: underline;
}